 body{
 	background-color: #f3f174;
 }

 table, th, td {
   border: 1px solid black;

			
}
tr{
  background-color: green;
}

img{
	width:250px;
	height:250px;
}

div{
	padding: 20px 20px;

}


#t01 tr:hover{
  background-color: white;
  color: black;
}
#t01{
  border-collapse: collapse;
}



